<h3>Bienvenue</h3>

<%= render :partial => 'home/tabs' %>

<% content_for(:sidebar) do %>
<div class="box">
	<h3>Aide</h3>
	<ul>
		<li>Consulter ici les jours consommés ainsi que les prévisions de présences de votre équipe.</li>
	</ul>
</div>
<% end -%>
