<% content_for(:title) do %>Liste des utilisateurs<% end -%>

<table>
	<tr>
		<th>Login</th>
		<th>Email</th>
		<th>Actions</th>
	</tr>
	<%= render :partial => 'user', :collection => @users %>
</table>

<%= link_to 'Nouvel utilisateur', new_user_path %>

<%= render :partial => 'help_box' %>
