<h3>Liste des utilisateurs</h3>
<table>
	<tr>
		<th>Login</th>
		<th>Email</th>
		<th>Actions</th>
	</tr>
	<%= render :partial => 'user', :collection => @users %>
</table>

<%= render :partial => 'help_box' %>
