<h3>Bienvenue</h3>

<%= render :partial => 'calendar', :object => @date %>

<% content_for(:sidebar) do %>
<div class="box">
	<h3>Aide</h3>
	<div class="alt">
		Saisissez le temps que vous avez passé au sein de votre équipe.
	</div>
</div>
<% end -%>

