<% content_for(:title) do %>Rôles de l'utilisateur "<%=h @user.login%>"<% end -%>

<h4>Rôles assignés:</h4>
<ul><%= render :partial => 'role', :collection => @user.roles %></ul>

<h4>Rôles disponibles:</h4>
<ul><%= render :partial => 'role', :collection => (@all_roles - @user.roles) %></ul>

<%= render :partial => 'users/help_box' %>
