<table class="calendar">
	<thead>
		<tr>
			<th><%= link_to "&lt;&lt;", { :action => 'index', :date => @date.last_month }, { :title => "Mois précédent" } %></th>
			<th colspan="6"><%= @date.to_s(:month) %></th>
			<th><%= link_to "&gt;&gt;", { :action => 'index', :date => @date.next_month }, { :title => "Mois suivant" } %></th>
		</tr>
		<tr class="week">
			<th></th>
			<th>Lun</th>
			<th>Mar</th>
			<th>Mer</th>
			<th>Jeu</th>
			<th>Ven</th>
			<th>Sam</th>
			<th>Dim</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'attendances/attendance_week', :collection => attendance_calendar %>
	</tbody>
</table>
