<% content_for(:title) do %>Rapports<% end %>
<% content_for(:sidebar) do %>
<div class="box">
	<h3>Aide</h3>
	<ul>
		<li>Consulter ici les rapports sur les jours consommés ainsi que les prévisions de présences.</li>
	</ul>
</div>
<% end -%>
